/* Square.css */

body {
  font-family: monospace;
  background-color: #0d0f15;
}

.square {
  width: 200px;
  height: 200px;
   font-size: 60px;
 font-weight: 700;
  background-color: #3a7ca5; 
  border: 1px solid #212021; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.square:hover {
  background-color: #52a8d4; 
}

/* Board.css */
.board-row {
  display: flex;
  justify-content: center;
}





.board-title {
  font-family: monospace;
  font-size: 50px;
  color: #3a7ca5;
  text-align: center; 
}






.status {
  color: white; 
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px; 
}



.game-info ol {
  padding: 0;
  list-style-type: none;
  position: relative; /* Adjust as needed */
  top: 10px; /* Adjust as needed */
  text-align: center; /* Center the list under the board */
}

.game-info button {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 6px;
  position: relative; /* Adjust as needed */
  top: 10px; /* Adjust as needed */
  text-align: center; /* Center the button under the board */
}





.game-info button:hover {
  background-color: #45a049; 
}


.game-info li {
  margin-bottom: 5px;
}

/* Game.css */

.display-names {
  margin-top: 20px;
  color: white; 
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}




.two-player-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: white;
  margin-bottom: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: #3a7ca5; 
}

button {
  font-family: monospace;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.names-of-players {
  background-color: #4CAF50; 
  
  color: white; 
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.names-of-players p {
  margin: 5px;
}
.form-container {
  background-color: #3a7ca5;;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 160px;
  margin-right: 160px;
  text-align: center;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .square {
    width: 100px;
    height: 100px;
    font-size: 30px;
  }

  .board-title {
    font-size: 30px;
  }

  .status {
    font-size: 16px;
    margin-top: 10px;
  }

  .game-info ol {
    padding: 0;
    list-style-type: none;
    position: relative; /* Adjust as needed */
    top: 10px; /* Adjust as needed */
    text-align: center; /* Center the list under the board */
  }

  .game-info button {
    font-size: 14px;
    margin-bottom: 8px;
    padding: 6px;
    position: relative; /* Adjust as needed */
    top: 10px; /* Adjust as needed */
    text-align: center; /* Center the button under the board */
  }

  .display-names,
  .names-of-players {
    font-size: 16px;
  }
  .form-group {
    margin-bottom: 15px;
    font-size: 12px;
    

}
input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
  color: rgb(47, 100, 170);
  background-color: #3a7ca5;
}
.form-container {
  background-color: #3a7ca5;;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}


}
