/* Square.css */
.square {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(64, 133, 151);
  border: 1px solid rgb(33, 28, 28);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square p {
  margin: 0;
  font-size: 18px;
}

/* Board.css */
.board-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 180px; /* Adjust as needed */
  margin: 0 auto;
}



